<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://material.angular.io/" target="_blank">Link</a>

  <mat-icon color="primary">delete</mat-icon>
  <mat-icon color="accent">fiber_new</mat-icon>
  <mat-icon color="warn">pageview</mat-icon>
</div>

<br>

<table mat-table [dataSource]="data" class="mat-elevation-z8">
<!--  Position Column-->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

<!--  Name Column-->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{element.name}}
    </td>
  </ng-container>
</table>

<!--TOOLBAR COMPONENT-->
<p>
  <mat-toolbar color="accent">
    <button mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
      <mat-icon>
        menu
    </mat-icon>
    </button>
    <span>Angular CRUD</span>
  </mat-toolbar>
</p>


<app-form-field></app-form-field>
<app-navbar></app-navbar>
